<div class="inventory">
	<div ng-show="inventory.isShow()" class="uiPanel" block-ui="inventory">
		<div class="search">
			<span class="fa fa-search"></span>
			<input ng-model="inventory.search" type="text"></input>
		</div>
		
		<ul>
			<li dir-paginate="item in catalog.books | filter:inventory.search | orderBy:'title' | itemsPerPage:5">
				<div class="inventoryItem" ng-class="{selected: inventory.isBookSelected(item.id)}" ng-click="inventory.select(item)">
					<i class="fa fa-book"></i>
					<span ng-bind="item.title"></span>

	    			<div class="inventoryControls">
		    			<span class="fa fa-exchange inventoryItemButton" ng-click="inventory.place(item, $event)"></span>
		    			<span class="fa fa-trash inventoryItemButton" ng-click="inventory.delete(item)"></span>
		    			<span class="fa fa-sliders inventoryItemButton" ng-click="inventory.expand(item)"></span>
	    			</div>
				</div>
			</li>	
		</ul>

		<center>
			<dir-pagination-controls></dir-pagination-controls>
		</center>

		<div class="buttons">
			<a ng-click="inventory.addBook()" class="button"><i class="fa fa-plus fa-lg"></i><%= __('ui.dialog.create') %></a>
		</div>
	</div>

	<div ng-controller="ToolsCtrl as tools" ng-show="tools.isShow()" class="uiPanel tools" ng-mouseup="tools.stop()" ng-mouseleave="tools.stop()">
		<table>
			<tr ng-show="tools.isWatchable()">
				<td><label><%=__('ui.tools.watch')%></label></td>
				<td>
					<span ng-click="tools.watch()" class="fa fa-eye fa-2x"></span>
				</td>
			</tr>
			<tr ng-show="tools.isWatchActive()">
				<td><label><%=__('ui.tools.unwatch')%></label></td>
				<td>
					<span ng-click="tools.unwatch()" class="fa fa-eye-slash fa-2x"></span>
				</td>
			</tr>

			<tr ng-show="tools.isRotatable()">
				<td><label><%=__('ui.tools.rotate')%></label></td>
				<td>
					<span ng-mousedown="tools.rotateLeft()" class="fa fa-undo fa-2x"></span>
					<span ng-mousedown="tools.rotateRight()" class="fa fa-repeat fa-2x"></span>
				</td>
			</tr>

			<tr ng-show="tools.isDeletable()">
				<td><label><%=__('ui.tools.delete')%></label></td>
				<td>
					<span ng-click="tools.delete()" class="fa fa-trash fa-2x"></span>
				</td>
			</tr>
		</table>
	</div>
</div>