<div class="uiPanel mainMenu" block-ui="main_menu">
	<div ng-show="mainMenu.isShow()">
		<ul class="select">
			<li ng-click="mainMenu.createListShow()"><i class="fa fa-plus fa-2x"></i><%=__('ui.menuItem.create')%></li>
			<li ng-click="mainMenu.showSelectLibrary()" ng-show="selectLibrary.isAvailable()"><i class="fa fa-home fa-2x"></i><%=__('ui.menuItem.selectLibrary')%></li>
			<li ng-click="mainMenu.showFeedback()"><i class="fa fa-comment-o fa-2x"></i><%=__('ui.menuItem.leaveFeedback')%></li>
			<li ng-click="authorization.show()" ng-show="authorization.isShow()"><i class="fa fa-sign-in fa-2x"></i><%=__('ui.menuItem.login')%></li>
			<li ng-click="mainMenu.showLinkAccount()" ng-show="mainMenu.isLinkAccountAvailable()"><i class="fa fa-plug fa-2x"></i><%=__('ui.menuItem.linkAccount')%></li>
			<li ng-click="authorization.logout()" ng-hide="authorization.isShow()"><i class="fa fa-sign-out fa-2x"></i><%=__('ui.menuItem.logout')%></li>
		</ul>
	</div>

	<div ng-show="mainMenu.isCreateListShow()">
		<ul class="select">
			<li ng-click="mainMenu.showCreateLibrary()"><i class="fa fa-home fa-2x"></i><%=__('ui.menuItem.createLibrary')%></li>
			<li ng-click="mainMenu.showCreateSection()"><i class="fa fa-bars fa-2x"></i><%=__('ui.menuItem.createSection')%></li>
		</ul>
	</div>	   

	<div ng-show="createSection.isShow()">
		<table>
			<tr>
				<td>
					<vb-select ng-model="createSection.model" options="createSection.list" value="model" label="label">
						<i class="fa fa-bars fa-2x"></i>
					</vb-select>
				</td>
				<td>
    				<img ng-src="{{createSection.getImg()}}" class="previewImg">
				</td>
			</tr>
		</table>
		
		<span ng-click="createSection.create()" class="fa fa-check fa-2x submitButton"></span>
	</div> 	

	<form name="feedback.form" ng-show="feedback.isShow()">
		<div>
    		<p><%= __('ui.feedback.message') %></p>
			<textarea name="message" ng-model="feedback.message" required></textarea>
		</div>
		<span ng-click="feedback.submit()" class="fa fa-check fa-2x submitButton"></span>
	</form>

	<span ng-click="mainMenu.trigger()" class="fa fa-sliders fa-2x mainMenuButton"></span>
</div>