<div ng-controller="WelcomeCtrl as welcome" ng-show="welcome.isShow()" class="welcomePage uiPanel">
	<center>
		<h1><%= __('ui.welcome.header') %></h1>
	</center>

	<p><%= __('ui.welcome.description') %></p>

	<div ng-show="welcome.isLoaded()">
		<div ng-show="welcome.isShowAuthorization()" ng-click="welcome.showLoginDialog()" class="welcomeControl">
			<p><%= __('ui.welcome.login') %></p>
			<i class="fa fa-sign-in fa-2x"></i>
			<p><%=__('ui.menuItem.login')%></p>
		</div>

		<div ng-show="welcome.isShowCreateLibrary()" ng-click="welcome.showCreateLibraryDialog()" class="welcomeControl">
			<p><%= __('ui.library.create.text') %></p>
			<i class="fa fa-plus fa-2x"></i>
			<p><%=__('ui.menuItem.createLibrary')%></p>
		</div>
		
		<div ng-show="welcome.isShowSelectLibrary()" ng-click="welcome.showSelectLibraryDialog()" class="welcomeControl">
			<p><%=__('ui.library.select.text')%></p>
			<i class="fa fa-home fa-2x"></i>
			<p><%=__('ui.menuItem.selectLibrary')%></p>
		</div>
	</div>
</div>