<!DOCTYPE html>
<html>
	<head>
		<title>Virtual Bookshelf</title>
	
		<script src="/js/three.js/three.min.js"></script>
		<script src="/js/three.js/Detector.js"></script>
		<script src="/js/three.js/stats.min.js"></script>
		<script src="/js/VirtualBookshelf/main.js"></script>
		<script src="/js/VirtualBookshelf/models.js"></script>
		<script src="/js/VirtualBookshelf/user.js"></script>
		<script src="/js/VirtualBookshelf/camera.js"></script>
		<script src="/js/VirtualBookshelf/controls.js"></script>
		<script src="/js/VirtualBookshelf/ui.js"></script>
		<script src="/js/VirtualBookshelf/data.js"></script>
		<script src="/js/VirtualBookshelf/directives/select.js"></script>
		<script src="/js/angular/angular.min.js"></script>
		<script src="/js/angular/block-ui/angular-block-ui.min.js"></script>
		<script src="/js/angular/dirPagination/dirPagination.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/js/angular/block-ui/angular-block-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body ng-app="vbUserInterface">
		<canvas id="LIBRARY"></canvas>

    	<div ng-controller="UIController" class="ui">
			<div id="stats" style="float: left;" class="uiPanel"></div>

    		<div class="uiPanel mainMenu">
    			<div ng-show="show == 'rootList'">
	    			<ul class="select">
	    				<li ng-click="show = 'createList'"><i class="fa fa-plus fa-2x"></i><%=__('ui.menuItem.create')%></li>
	    				<li ng-click="show = 'selectLibrary'"><i class="fa fa-home fa-2x"></i><%=__('ui.menuItem.selectLibrary')%></li>
	    			</ul>
    			</div>

    			<div ng-show="show == 'createList'">
	    			<ul class="select">
	    				<li ng-click="show = 'createLibrary'"><i class="fa fa-home fa-2x"></i><%=__('ui.menuItem.createLibrary')%></li>
	    				<li ng-click="show = 'createSection'"><i class="fa fa-bars fa-2x"></i><%=__('ui.menuItem.createSection')%></li>
	    			</ul>
    			</div>

		    	<div ng-show="show == 'createLibrary'">
		    		<p><%= __('ui.library.create.select.label') %></p>
		    		<table>
		    			<tr>
		    				<td>
								<vb-select options="menu.createLibrary.list" selected="menu.createLibrary.model" value="model" label="label">
									<i class="fa fa-home fa-2x"></i>
								</vb-select>
		    				</td>
		    				<td>
			    				<img ng-src="{{menu.createLibrary.getImg()}}" class="previewImg">
		    				</td>
		    			</tr>
		    		</table>

		    		<a ng-click="menu.createLibrary.create()" class="fa fa-check fa-2x submitButton"></a>
		    	</div>		   

		    	<div ng-show="show == 'createSection'">
		    		<table>
		    			<tr>
		    				<td>
								<vb-select options="menu.createSection.list" selected="menu.createSection.model" value="model" label="label">
									<i class="fa fa-bars fa-2x"></i>
								</vb-select>
		    				</td>
		    				<td>
			    				<img ng-src="{{menu.createSection.getImg()}}" class="previewImg">
		    				</td>
		    			</tr>
		    		</table>
		    		
		    		<a ng-click="menu.createSection.create()" class="fa fa-check fa-2x submitButton"></a>
		    	</div> 	

		    	<div ng-show="show == 'selectLibrary'">
		    		<p><%= __('ui.library.select.text') %></p>
		    		<ul class="select">
		    			<li ng-repeat="item in menu.selectLibrary.list" ng-click="menu.selectLibrary.go(item.id)">
		    				<i class="fa fa-home fa-2x"></i>{{item.id}}
		    			</li>
		    		</ul>
		    	</div>

				<a ng-click="show = show ? '' : 'rootList'" class="fa fa-sliders fa-2x mainMenuButton"></a>
    		</div>
    		
    		<div class="uiPanel navigation" ng-mouseup="menu.navigation.stop()" ng-mouseleave="menu.navigation.stop()">
    			<a ng-mousedown="menu.navigation.left()" class="fa fa-chevron-left fa-2x"></a>
    			<a ng-mousedown="menu.navigation.right()" class="fa fa-chevron-right fa-2x"></a>
    			<a ng-mousedown="menu.navigation.backward()" class="fa fa-chevron-down fa-2x"></a>
    			<a ng-mousedown="menu.navigation.forward()" class="fa fa-chevron-up fa-2x"></a>
    		</div>

	    	<div ng-show="menu.login.isShow()" class="uiPanel login">
	    		<p><%= __('ui.login.text') %></p>
	    		<a href="/auth/google"><img src="/img/google.png"/></a>
	    	</div>

	    	<ng-include src="'ui/inventory.ejs'"></ng-include>

	    	<div ng-show="menu.feedback.show" class="uiPanel feedback">
	    		<div>
		    		<p><%= __('ui.feedback.message') %></p>
					<textarea ng-model="menu.feedback.message"></textarea>
	    		</div>
				<a ng-click="menu.feedback.submit()" class="fa fa-check fa-2x submitButton"></a>
	    	</div>
    	</div>

		<script src="/js/angular/app.js"></script>
	</body>
</html>