<!DOCTYPE html>
<html>
	<head>
		<title>Virtual Bookshelf</title>
	
		<script src="/js/three.js/three.min.js"></script>
		<script src="/js/three.js/Detector.js"></script>
		<script src="/js/VirtualBookshelf/main.js"></script>
		<script src="/js/VirtualBookshelf/camera.js"></script>
		<script src="/js/VirtualBookshelf/models.js"></script>
		<script src="/js/VirtualBookshelf/controls.js"></script>
		<script src="/js/VirtualBookshelf/ui.js"></script>
		<script src="/js/VirtualBookshelf/data.js"></script>
		<script src="/js/VirtualBookshelf/editor.js"></script>
		<style>
			body {
				padding: 0;
				margin: 0;
  				overflow: hidden;
			}
			canvas {
				width: 100%;
				height: 100%;
			}
			p, label{
				color: #C5DEBF;
				font-size: 14pt;
				margin: 0;
				margin-bottom: 5px;
			}
			a {
				color: #9582FF;
				text-decoration: none;
				cursor: pointer;
				margin: 
			}
			div.ui {
				position: absolute;
				left: 0;
				top: 0;
			}
			div.ui div.uiPanel {
				border: 1px;
				border-color: #8F2222;
				border-style: dashed;
				margin: 10px;
				padding: 15px;
				display: none;
			}
			select, input, option {
				background: #200707;
				border-color: #000000;
				border-style: solid;
				border-width: 1px;
				box-sizing: inherit;
				width: 100%;
				color: #C5DEBF;
			}
		</style>
	</head>
	<body>
		<script type="text/javascript">
			VirtualBookshelf.saveUser(<%- JSON.stringify(user) %>);
		</script>

    	<div id="LIBRARY"></div>

    	<div class="ui">
	    	<div id="UI_LOGIN" class="uiPanel">
	    		<p><%= __('ui.login.text') %></p>
	    		<a href="/auth/google"><img src="/img/google.png"/></a>
	    	</div>

	    	<div id="UI_LIBRARY_CREATE" class="uiPanel">
	    		<p><%= __('ui.library.create.text') %></p>
	    		<p><%= __('ui.library.create.select.label') %></p>
	    		<br>
	    		<select id="UI_LIBRARY_CREATE_SELECT"></select>
	    		<a onclick="VirtualBookshelf.UI.createLibrary();"><%= __('ui.library.create.link') %></a>
	    	</div>

	    	<div id="UI_LIBRARY_SELECT" class="uiPanel">
	    		<p><%= __('ui.library.select.text') %></p>
	    		<br>
	    		<select id="UI_LIBRARY_SELECT_DROPDOWN"></select>
	    		<a onclick="VirtualBookshelf.UI.selectLibrary();"><%= __('ui.library.select.link') %></a>
	    	</div>

	    	<div id="UI_LIBRARY_MENU" class="uiPanel">
	    		<select id="UI_SECTION_CREATE_DROPDOWN"></select>
    			<a onclick="VirtualBookshelf.UI.createSection();"><%= __('ui.library.menu.add.section') %></a>
    			<br>
    			<a onclick="alert('Not implemented!');"><%= __('ui.library.menu.exit') %></a>
	    	</div>

	    	<div id="UI_SECTION_MENU" class="uiPanel">
    			<a onclick="VirtualBookshelf.UI.showCreateBook();"><%= __('ui.library.menu.add.book') %></a>
	    	</div>

	    	<div id="UI_CREATE_BOOK" class="uiPanel">
	    		<table>
	    			<tbody>
	    				<tr>
	    					<td><label><%= __('ui.create_book.object') %></label></td>
	    					<td><select id="UI_CREATE_BOOK_OBJECT"></select></td>
	    				</tr>
	    				<tr>
	    					<td><label><%= __('ui.create_book.author') %></label></td>
	    					<td><input id="UI_CREATE_BOOK_AUTHOR" type="text"></input></td>
	    				</tr>
	    				<tr>
	    					<td><label><%= __('ui.create_book.title') %></label></td>
	    					<td><input id="UI_CREATE_BOOK_TITLE" type="text"></input></td>
	    				</tr>
	    			</tbody>
	    			<tfoot>
	    				<tr>
	    					<td><a onclick="VirtualBookshelf.UI.hideCreateBook();"><%= __('ui.create_book.cancel') %></a></td>
	    					<td><a onclick="VirtualBookshelf.UI.cerateBook();"><%= __('ui.create_book.ok') %></a></td>
	    				</tr>
	    			</tfoot>
	    		</table>
	    	</div>

	    	<div id="UI_SAVE_DIALOG" class="uiPanel">
	    		<table>
	    			<tbody>
	    				<tr>
	    					<td><a onclick="alert('Not implemented!');"><%= __('ui.save_dialog.cancel') %></a></td>
	    					<td><a onclick="VirtualBookshelf.Controls.saveChanged();"><%= __('ui.save_dialog.save') %></a></td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
    	</div>
	</body>
</html>