<!DOCTYPE html>
<html>
	<head>
		<title>Virtual Bookshelf</title>
	
		<script src="/js/three.js/three.min.js"></script>
		<script src="/js/three.js/Detector.js"></script>
		<script src="/js/VirtualBookshelf/main.js"></script>
		<script src="/js/VirtualBookshelf/models.js"></script>
		<script src="/js/VirtualBookshelf/camera.js"></script>
		<script src="/js/VirtualBookshelf/controls.js"></script>
		<script src="/js/VirtualBookshelf/ui.js"></script>
		<script src="/js/VirtualBookshelf/data.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<canvas id="LIBRARY"></canvas>

    	<div class="ui">
    		<div menuNode="mainMenu" class="uiPanel mainMenu">
    			<div menuNode="rootList">
	    			<ul>
	    				<li><i menuControl="create" class="fa fa-plus fa-2x"></i>&nbsp; !Create</li>
	    				<li><i menuControl="select" class="fa fa-bars fa-2x"></i>&nbsp; !Select lib</li>
	    				<li><i menuControl="edit" class="fa fa-sliders fa-2x"></i>&nbsp; !Edit</li>
	    			</ul>

    			</div>

    			<div menuNode="createList">
	    			<ul>
	    				<li><i menuControl="library" class="fa fa-sliders fa-2x"></i>&nbsp; !Library</li>
	    				<li><i menuControl="section" class="fa fa-bars fa-2x"></i>&nbsp; !Shelf</li>
	    				<li><i menuControl="book" class="fa fa-plus fa-2x"></i>&nbsp; !Book</li>
	    			</ul>
    			</div>

		    	<div menuNode="createLibrary">
		    		<p><%= __('ui.library.create.text') %></p>
		    		<p><%= __('ui.library.create.select.label') %></p>
		    		<br>
		    		<select menuControl="model"></select>
		    		<a onclick="VirtualBookshelf.UI.createLibrary();"><%= __('ui.library.create.link') %></a>
		    	</div>		   

		    	<div menuNode="libraryMenu">
		    		<select menuControl="model"></select>
	    			<a onclick="VirtualBookshelf.UI.createSection();"><%= __('ui.library.menu.add.section') %></a>
		    	</div> 			

    			<i menuControl="toggle" class="fa fa-sliders fa-2x"></i>
    		</div>
    		
    		<div menuNode="navigation" class="uiPanel navigation">
    			<i menuControl="left" class="fa fa-chevron-left fa-2x"></i>
    			<i menuControl="right" class="fa fa-chevron-right fa-2x"></i>
    			<i menuControl="down" class="fa fa-chevron-down fa-2x"></i>
    			<i menuControl="up" class="fa fa-chevron-up fa-2x"></i>
    		</div>

	    	<div menuNode="inventory" class="uiPanel right">
	    		<ul menuControl="books"></ul>
	    	</div>

	    	<div menuNode="feedback" class="uiPanel right">
    			<textarea menuControl="message" placeholder="<%= __('ui.feedback.message') %>"></textarea>
    			<input type="submit" menuControl="submit" value="<%= __('ui.feedback.submit') %>" />
	    	</div>

	    	<div menuNode="login" class="uiPanel left">
	    		<p><%= __('ui.login.text') %></p>
	    		<a href="/auth/google"><img src="/img/google.png"/></a>
	    	</div>

	    	<div menuNode="selectLibrary" class="uiPanel left">
	    		<p><%= __('ui.library.select.text') %></p>
	    		<br>
	    		<select menuControl="library"></select>
	    		<a onclick="VirtualBookshelf.UI.selectLibrary();"><%= __('ui.library.select.link') %></a>
	    	</div>

	    	<div menuNode="sectionMenu" class="uiPanel left">
    			<a onclick="VirtualBookshelf.UI.showCreateBook();"><%= __('ui.library.menu.add.book') %></a>
    			<br/>
    			<input id="UI_SECTION_MENU_TRANSLATE_MOVE" type="radio" menuControl="translateMove" name="translate" value="move" checked="true" />
    			<label for="UI_SECTION_MENU_TRANSLATE_MOVE"><%= __('ui.section.move') %></label>
    			<br/>
    			<input id="UI_SECTION_MENU_TRANSLATE_ROTATE" type="radio" menuControl="translateRotate" name="translate" value="rotate" />
    			<label for="UI_SECTION_MENU_TRANSLATE_ROTATE"><%= __('ui.section.rotate') %></label>
	    	</div>

	    	<div menuNode="createBook" class="uiPanel left">
	    		<div class="field">
					<label><%= __('ui.create_book.object') %></label>
					<select menuControl="model"></select>
	    		</div>
	    		<div class="field">
					<label><%= __('ui.create_book.texture') %></label>
					<select menuControl="texture"></select>
				</div>
	    		<div class="field">
					<label><%= __('ui.create_book.cover') %></label>
					<input menuControl="cover" type="url"></input>
					<a menuControl="editCover" edit="cover" class="inactiveEdit"><%= __('ui.create_book.edit') %></a>
				</div>
	    		<div class="field">
					<label><%= __('ui.create_book.author') %></label>
					<input menuControl="author" type="text"></input>
					<input menuControl="authorSize" type="number"></input>
					<input menuControl="authorColor" type="text"></input>
					<a menuControl="editAuthor" edit="author" class="inactiveEdit"><%= __('ui.create_book.edit') %></a>
				</div>
	    		<div class="field">
					<label><%= __('ui.create_book.title') %></label>
					<input menuControl="title" type="text"></input>
					<input menuControl="titleSize" type="number"></input>
					<input menuControl="titleColor" type="text"></input>
					<a menuControl="editTitle" edit="title" class="inactiveEdit"><%= __('ui.create_book.edit') %></a>
				</div>
				<a menuControl="cancel"><%= __('ui.create_book.cancel') %></a>
				<a menuControl="ok"><%= __('ui.create_book.ok') %></a>
			</div>
    	</div>
	</body>
</html>