<!DOCTYPE html>
<html>
	<head>
		<title>Virtual Bookshelf</title>
	
		<script src="/js/three.js/three.min.js"></script>
		<script src="/js/three.js/Detector.js"></script>
		<script src="/js/VirtualBookshelf/main.js"></script>
		<script src="/js/VirtualBookshelf/models.js"></script>
		<script src="/js/VirtualBookshelf/camera.js"></script>
		<script src="/js/VirtualBookshelf/controls.js"></script>
		<script src="/js/VirtualBookshelf/ui.js"></script>
		<script src="/js/VirtualBookshelf/data.js"></script>
		<script src="/js/angular/angular.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body ng-app="vbUserInterface">
		<canvas id="LIBRARY"></canvas>

    	<div ng-controller="UIController" class="ui">
    		<div class="uiPanel mainMenu">
    			<div ng-show="show == 'rootList'">
	    			<ul>
	    				<li ng-click="show = 'createList'"><i class="fa fa-plus fa-2x"></i><%=__('ui.menuItem.create')%></li>
	    				<li ng-click="show = 'selectLibrary'"><i class="fa fa-home fa-2x"></i><%=__('ui.menuItem.selectLibrary')%></li>
	    			</ul>
    			</div>

    			<div ng-show="show == 'createList'">
	    			<ul>
	    				<li ng-click="show = 'createLibrary'"><i class="fa fa-home fa-2x"></i><%=__('ui.menuItem.createLibrary')%></li>
	    				<li ng-click="show = 'createSection'"><i class="fa fa-bars fa-2x"></i><%=__('ui.menuItem.createSection')%></li>
	    				<li ng-click="show = 'createBook'"><i class="fa fa-book fa-2x"></i><%=__('ui.menuItem.createBook')%></li>
	    			</ul>
    			</div>

		    	<div ng-show="show == 'createLibrary'">
		    		<p><%= __('ui.library.create.select.label') %></p>
    				<img ng-src="{{menu.createLibrary.getImg()}}" class="previewImg">
		    		<ul>
		    			<li 
		    				ng-repeat="item in menu.createLibrary.list" 
		    				ng-click="menu.createLibrary.select(item.model)" 
		    				ng-class="{selectedItem: menu.createLibrary.isSelected(item.model)}">
		    				<i class="fa fa-home fa-2x"></i>{{item.label}}
		    			</li>
		    		</ul>

		    		<a ng-click="menu.createLibrary.create()" class="fa fa-check fa-2x submitButton"></a>
		    	</div>		   

		    	<div ng-show="show == 'createSection'">
    				<img ng-src="{{menu.createSection.getImg()}}" class="previewImg">
		    		<ul>
		    			<li 
		    				ng-repeat="item in menu.createSection.list" 
		    				ng-click="menu.createSection.select(item.model)" 
		    				ng-class="{selectedItem: menu.createSection.isSelected(item.model)}">
		    				<i class="fa fa-bars fa-2x"></i>{{item.label}}
		    			</li>
		    		</ul>
		    		<a ng-click="menu.createSection.create()" class="fa fa-check fa-2x submitButton"></a>
		    	</div> 	

		    	<div ng-show="show == 'createBook'">
		    		<table>
		    			<tr>
		    				<td>
								<label><%= __('ui.create_book.object') %></label>
					    		<ul>
					    			<li 
					    				ng-repeat="item in menu.createBook.list" 
					    				ng-click="menu.createBook.select(item.model)" 
					    				ng-class="{selectedItem: menu.createBook.isSelected(item.model)}">
					    				<i class="fa fa-book fa-2x"></i>{{item.label}}
					    			</li>
					    		</ul>
		    				</td>
	    					<td><img ng-src="{{menu.createBook.getImg()}}" class="previewImg"></td>
		    			</tr>
		    			<tr><td colspan="2">
				    		<table>
			    				<tr>
			    					<td><label><%= __('ui.create_book.cover') %></label></td>
			    					<td><input ng-model="menu.createBook.cover" type="text"></input></td>
			    				</tr>
			    				<tr>
			    					<td><label><%= __('ui.create_book.author') %></label></td>
			    					<td><input ng-model="menu.createBook.author" type="text"></input></td>
			    				</tr>
			    				<tr>
			    					<td><label><%= __('ui.create_book.title') %></label></td>
			    					<td><input ng-model="menu.createBook.title" type="text"></input></td>
			    				</tr>
				    		</table>
		    			</td></tr>
		    		</table>
					
					<a ng-click="menu.createBook.create()" class="fa fa-check fa-2x submitButton"></a>
				</div>	

		    	<div ng-show="show == 'selectLibrary'">
		    		<p><%= __('ui.library.select.text') %></p>
		    		<ul>
		    			<li ng-repeat="item in menu.selectLibrary.list" ng-click="menu.selectLibrary.go(item.id)">
		    				<i class="fa fa-home fa-2x"></i>{{item.id}}
		    			</li>
		    		</ul>
		    	</div>

				<a ng-click="show = show ? '' : 'rootList'" class="fa fa-sliders fa-2x mainMenuButton"></a>
    		</div>
    		
    		<div class="uiPanel navigation" ng-mouseup="menu.navigation.stop()" ng-mouseleave="menu.navigation.stop()">
    			<a ng-mousedown="menu.navigation.left()" class="fa fa-chevron-left fa-2x"></a>
    			<a ng-mousedown="menu.navigation.right()" class="fa fa-chevron-right fa-2x"></a>
    			<a ng-mousedown="menu.navigation.backward()" class="fa fa-chevron-down fa-2x"></a>
    			<a ng-mousedown="menu.navigation.forward()" class="fa fa-chevron-up fa-2x"></a>
    		</div>

	    	<div ng-show="menu.login.isShow()" class="uiPanel login">
	    		<p><%= __('ui.login.text') %></p>
	    		<a href="/auth/google"><img src="/img/google.png"/></a>
	    	</div>

	    	<div class="uiPanel inventory">
		    	<ul>
		    		<li ng-repeat="i in ['Невменяемый колдун','Война невменяемого','Месть колдуна','Невменяемый скиталец','Выюор невменяемого']">
		    			<i class="fa fa-book"></i>
		    			{{i}}
		    		</li>	
		    	</ul>
	    	</div>

	    	<div ng-show="menu.feedback.show" class="uiPanel feedback">
	    		<div>
		    		<p><%= __('ui.feedback.message') %></p>
					<textarea ng-model="menu.feedback.message"></textarea>
	    		</div>
				<a ng-click="menu.feedback.submit()" class="fa fa-check fa-2x submitButton"></a>
	    	</div>
    	</div>

		<script src="/js/angular/app.js"></script>
	</body>
</html>