<div class="uiPanel mainMenu" ng-controller="MainMenuCtrl as mainMenu">
	<div ng-show="mainMenu.isShow()">
		<ul class="select">
			<li ng-click="mainMenu.createListShow()"><i class="fa fa-plus fa-2x"></i><%=__('ui.menuItem.create')%></li>
			<li ng-click="mainMenu.showSelectLibrary()" ng-show="mainMenu.selectLibrary.isAvailable()"><i class="fa fa-home fa-2x"></i><%=__('ui.menuItem.selectLibrary')%></li>
			<li ng-click="mainMenu.showFeedback()"><i class="fa fa-comment-o fa-2x"></i><%=__('ui.menuItem.leaveFeedback')%></li>
			<li ng-click="mainMenu.authorization.show()" ng-show="mainMenu.authorization.isShow()"><i class="fa fa-sign-in fa-2x"></i><%=__('ui.menuItem.login')%></li>
			<li ng-click="mainMenu.showLinkAccount()" ng-show="mainMenu.isLinkAccountAvailable()"><i class="fa fa-plug fa-2x"></i><%=__('ui.menuItem.linkAccount')%></li>
			<li ng-click="mainMenu.authorization.logout()" ng-hide="mainMenu.authorization.isShow()"><i class="fa fa-sign-out fa-2x"></i><%=__('ui.menuItem.logout')%></li>
		</ul>
	</div>

	<div ng-show="mainMenu.isCreateListShow()">
		<ul class="select">
			<li ng-click="mainMenu.showCreateLibrary()"><i class="fa fa-home fa-2x"></i><%=__('ui.menuItem.createLibrary')%></li>
			<li ng-click="mainMenu.showCreateSection()"><i class="fa fa-bars fa-2x"></i><%=__('ui.menuItem.createSection')%></li>
		</ul>
	</div>

	<a ng-click="mainMenu.trigger()" class="button"><i class="fa fa-sliders fa-lg"></i><%= __('ui.menuItem.mainButton') %></a>
</div>